.activity-pane-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 220px;
  height: 220px;
  background-color: #f0ede4;
  max-height: 350px;
  justify-content: center;
  align-items: center;
}

#title {
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
}

.activities-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f7f1;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.activities-container ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 90%;
  overflow: auto;
  align-self: center;
  justify-self: center;
  padding-left: 0;
  width: 100%;
}

.activity-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.remove-activity-btn {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
}

.activities-container ul li {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.activities-container ul li text {
  font-size: 13px;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
}

.remove-activity-btn {
  align-self: flex-end;
  margin-top: -15px;
  margin-left: -10px;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: #c6877f;
  color: #f9f7f1;
  font-size: 11px;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  margin-right: 7px;
}

.add-btn {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: #4d8e7f;
  box-shadow: 2px 2px 3px rgb(77, 142, 127, 0.4);
  color: #f9f7f1;
  font-weight: lighter;
  align-self: center;
  margin-top: -13px;
  cursor: pointer;
}
