.action-menu {
    background-color: #4d8e7f;
    color: antiquewhite;
    font-size: 13px;
    padding: 2px 15px 2px 15px;
    border-radius: 2px;
}

.action-menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 0;
}

.action-menu ul li {
    display: flex;
    cursor: pointer;
}