.act-instance-vis {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: hidden
}

div::-webkit-scrollbar {
    height: 8px;         
}
  
div::-webkit-scrollbar-track {
background: rgba(238, 235, 232, 0.976);        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
background-color: rgb(203, 203, 221);    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */
}