.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

#button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 13px;
	color: var(--section-titles);
}
