.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0ede4;
}

.main-div ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 30px;
    overflow: auto;
    height: 100%;
    padding: 0;
    width: 85%;
    border-radius: 5px;
}

.ruleitem-div {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    background-color: #f9f7f1;
    border-radius: 5px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.item-icons-div {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.all-exp-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.rule-suppconf-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
