.time-distance-axiom {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f7f1;
  border-radius: 5px;
  column-gap: 20px;
  height: 85px;
  justify-content: center;
  width: 100%;
}

.time-distance-adjust {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  row-gap: 5px;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7px;
}

.time-distance-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sec {
  width: 50px;
  background-color: #e1ddcf;
  font-size: 11;
  outline: none;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 5px;
}
