.time-distance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 5px;
}

.time-adjust-checkbox {
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
