.interaction-axiom {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 75px;
	row-gap: 10px;
}

.axiom-content {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.object-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
	background-color: #f9f7f1;
	border-radius: 5px;
	width: 86%;
	height: 100%;
}

.remove-axiom-btn {
	width: 18px;
	height: 18px;
	text-align: justify;
	border-radius: 100%;
	border: none;
	outline: none;
	background-color: #b33d2d;
	color: #f9f7f1;
	font-size: 9px;
	cursor: pointer;
	display: block;
	margin-top: 0px;
	align-self: flex-end;
}

.remove-object-btn {
	width: 18px;
	height: 18px;
	text-align: justify;
	border-radius: 100%;
	border: none;
	outline: none;
	background-color: #b4594d;
	color: #f9f7f1;
	font-size: 9px;
	cursor: pointer;
	display: block;
	margin-left: 0px;
	margin-top: 3px;
}

.rem-object-btn-div {
	display: flex;
	height: 100%;
	align-items: center;
	justify-items: center;
}

#divider {
	height: 1px;
	width: 85%;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	border-color: #ffffff;
	margin-top: 5px;
}
