.interaction-or-axiom {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	column-gap: 30px;
	background-color: #f9f7f1;
	border-radius: 5px;
	height: 65px;
	width: 86%;
	cursor: pointer;
}

.remove-axiom-btn-or {
	width: 18px;
	height: 18px;
	text-align: justify;
	border-radius: 100%;
	border: none;
	outline: none;
	background-color: #b33d2d;
	color: #f9f7f1;
	font-size: 9px;
	cursor: pointer;
	margin-left: -10px;
	align-self: center;
	display: block;
	justify-self: flex-end;
}
