.time-dist-axiom-container {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 85px;
}

.time-axiom-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f7f1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.time-upper-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.time-distance-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.rem-btn-td {
    display: flex;
    width: 0%;
    height: 0%;
    align-self: flex-end;
    margin-right: 10px;
}

.remove-axiom-btn-td {
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    text-align: justify;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #b33d2d;
    color: #f9f7f1;

    font-size: 9px;
    cursor: pointer;
    display: flex;
    margin-top: -15px;
}

.add-int-btn {
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    width: 18px;
    height: 18px;
    text-align: justify;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #95dba5;
    color: #444141;
    font-size: 10px;
    cursor: pointer;
    display: flex;
}

.time-lower-div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
}

.time-distance-adjust {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    row-gap: 5px;
}

#sec {
    width: 50px;
    background-color: #e1ddcf;
    font-size: 11;
    outline: none;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 5px;
}


