.activity-vis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 280px;
    background-color: #f0ede4;
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
}

#title {
    display: flex;
    width: 90%;
    text-align: left;
    justify-self: center;
}

.graph-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: hidden;
    height: 80%;
    width: 90%;
    background-color: #f9f7f1;
    justify-items: center;
    justify-content: center;
}

.tools-div {
    height: 30%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding-left: 20px;
    align-items: center;
}

.graph {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: hidden;
    flex-grow: 1;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.zoom-btn {
    width: 35px;
    height: 35px;
    align-items: center;
    justify-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(236, 234, 222);
    box-shadow: 0px 0px 4px rgb(183, 179, 174);
}

div::-webkit-scrollbar {
    height: 8px;         
}
  
div::-webkit-scrollbar-track {
background: rgba(238, 235, 232, 0.976);        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
background-color: rgb(203, 203, 221);    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */
}