.act-instance-vis {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: hidden;
    height: fit-content;
}

.tools-div {
    height: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.zoom-btn {
    width: 35px;
    height: 35px;
    align-items: center;
    justify-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(236, 234, 222);
    box-shadow: 0px 0px 4px rgb(183, 179, 174);
}

div::-webkit-scrollbar {
    height: 8px;         
}
  
div::-webkit-scrollbar-track {
background: rgba(238, 235, 232, 0.976);        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
background-color: rgb(203, 203, 221);    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */
}