.exp-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#exp-divider {
	height: 1px;
	width: 85%;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	border-color: #ffffff;
	margin-top: 5px;
}
