.time-distance-axiom-repr {
	background: var(--light-beige);
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	width: 75%;
}
