.axiom-stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--light-beige);
	border-radius: 5px;
}

.stat-axiom-explanation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 75%;
}

.stat-axiom-explanation-container:hover {
	background-color: var(--hover-beige);
}

.stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.text-explanation-container {
	grid-column: 1 / 3;
}

.td-stat-container2 {
	display: flex;
	column-gap: 10px;
	width: 70%;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	background-color: var(--light-beige);
	border-radius: 5px;
}

.td-stat-container2:hover {
	background-color: var(--hover-beige);
}

.td-stat-data-container2 {
	width: 125px;
}

.timed-istance-stat-container2 {
	display: flex;
	width: 100%;
	align-self: center;
}

.icon-container2 {
	display: flex;
	align-items: center;
}

#missing-events-msg {
	width: 100%;
}

#why-not-what-qmark {
	display: flex;
	height: 100%;
	margin-top: -9px;
	margin-right: -9px;
	cursor: pointer;
}

.td-stat-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70px;
}
