.App {
  display: flex;
  text-align: center;
  height: 100%;
}

html, body, #app, #app>div, #root {
  height: 100%
}


.left-pane-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  float: left;
  width: 250px;
  background-color: #f0ede4;
  align-items: center;
}

.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f7f6f1;
  overflow: hidden;
  flex-grow: 1;
}

.axiom-pane-container {
  display: flex;
  width: 80%;
  align-items: flex-start;
  margin-top: 25px;
  height: 40%;
}
