.td-stat-container {
    display: flex;
    flex-direction: row;
    width: 200px;
}

.duration-stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2px;
}

.timed-istance-stat-container {
    margin-left: -15px;
    margin-right: -17px;
}