.FNFP-question-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.question-item {
	display: flex;
	border-radius: 5px;
	border-width: 1px;
	border-color: #7fc4e1;
	border: solid;
	padding: 10px;
	cursor: pointer;
	width: 270px;
}
