.why-not-panel-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: flex-start;
    align-items: center;
    width: 235px;
    height: 240px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.why-not-interaction-axioms {
    display: flex;
    background-color: var(--light-beige);
    height: 45px;
    width: 85%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.why-not-duration-axiom {
    display: flex;
    flex-direction: column;
    background-color: var(--light-beige);
    width: 85%;
    height: 50px;
    justify-content: center;
    align-items: center;

}

.why-not-time-distance-axiom {
    background-color: var(--light-beige);
    width: 85%;
    height: 50px;
    display: grid;
    grid-template-columns: 100% 0px;
    grid-template-rows: 100%;
    place-content: center;
}

.time-dist-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
}

.time-dist-icons-container:hover {
    background-color: var(--hover-beige);
}

.interaction-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    padding: 3px;
    border-radius: 3px;
}

.interaction-icon-container:hover {
    background-color: var(--hover-beige);
}

.temp-ax-num {
    height: 100%;
    justify-self: start;
    align-self: start;
}

